.logon_bkg {
	background: #000 url(/i/logon2.jpeg ) center -30px no-repeat;
}

body {
	margin:		0;
	padding:	0;
	font-size:	100%;
	background:	#000;
	color:		#ccc;
	font-family:	Trebuchet ms;
}

.cb { clear: both }

.menu {
	width:		960px;
	margin:		0 auto;
	min-height:	50px;
}


#usermenu {
	float:		right;
	width:		300px;
	height:		20px;
	margin-right:	5px;
	padding-top:	3px;
}

#usermenu .caption {
	border:		1px solid #aaa;
	border-radius:	3px;
	padding:	3px;
	background:	#544;
	opacity:	0.5;
	font-size:	12px;
	box-shadow:	2px 2px 8px #888888;
}

#usermenu a {
	color:		#fff;
	float:		right;
}


#auth_list {
	font-size: 11px;
	line-height: 20px;
}

#auth_list a { float:right; display: inline; margin-left:5px }
#auth_list a:hover { color: #aa5544 }
